<html xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect" xmlns:th="http://www.thymeleaf.org" layout:decorator="/layout">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
<script type="text/javascript" th:src="@{/js/charSheet.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<form th:action="@{''}" th:object="${character}" method="post" enctype="multipart/form-data">
					<div>
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#p0" aria-controls="p0" role="tab" data-toggle="tab">Overview</a></li>
							<li role="presentation"><a href="#p1" aria-controls="p1" role="tab" data-toggle="tab">P1</a></li>
							<li role="presentation"><a href="#p2" aria-controls="p2" role="tab" data-toggle="tab">P2</a></li>
							<li><a href="#p3" aria-controls="p3" role="tab" data-toggle="tab">P3</a></li>
							<li><a href="#p4" aria-controls="p4" role="tab" data-toggle="tab">P4</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="p0">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Character Infos</h4>
								</div>
								<div class="panel-body">
									<div class="panel-group" id="characterPage0" role="tablist">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="playerInfoHeading">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#characterPage0" href="#playerInfo">PLAYER INFO</a>
												</h4>
											</div>
											<div id="playerInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="#playerInfoHeading">
												<div class="panel-body">
													<div class="form-group">
														<label for="userName">USER NAME</label> <input id="userName" class="form-control" th:field="*{user}" placeholder="user" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="charName">CHARACTER NAME</label> <input id="charName" class="form-control" th:field="*{name}" placeholder="name" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="chronicle">CHRONICLE</label> <input id="chronicle" class="form-control" th:field="*{chronicle}" placeholder="chronicle" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="experience">EXPERIENCE</label> <input id="experience" class="form-control" th:field="*{experience}" type="number" disabled="disabled" />
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="characterInfoHeading">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#characterPage0" href="#characterInfo">CHARACTER INFO</a>
												</h4>
											</div>
											<div id="characterInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledBy="#characterInfoHeading">
												<div class="panel-body">
													<div class="form-group">
														<label for="nature">NATURE</label> <input id="nature" class="form-control" th:field="*{hunNature}" placeholder="nature" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="poNature">PO NATURE</label> <input id="poNature" class="form-control" th:field="*{poNature}" placeholder="P'o Nature" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="demeanor">DEMEANOR</label> <input id="demeanor" class="form-control" th:field="*{demeanor}" placeholder="demeanor" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="balance">BALANCE</label> <input id="balance" class="form-control" th:field="*{balance}" placeholder="balance" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="direction">DIRECTION</label> <input id="direction" class="form-control" th:field="*{direction}" placeholder="direction" disabled="disabled" />
													</div>
													<div class="form-group">
														<label for="wu">WU</label> <input id="wu" th:field="*{wu}" class="form-control" placeholder="wu" disabled="disabled" />
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="soulInfoHeading">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#characterPage0" href="#soulInfo">SOUL INFO</a>
												</h4>
											</div>
											<div id="soulInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledBy="#soulInfoHeading">
												<div class="panel-body">
													<div class="list-group">
														<div class="list-group-item active">
															<h4 class="list-group-item-heading">SOUL BALANCE</h4>
														</div>
														<div class="list-group-item">
															<div class="list group">
																<div th:replace="components :: dotted-value-single(skillName='hunValue', maxValue=10, currValue=3, displayName='soul.hun')"></div>
																<div th:replace="components :: dotted-value-single(skillName='poValue', maxValue=10, currValue=5, displayName='soul.po')"></div>
															</div>
														</div>
														<div class="list-group-item active">
															<h4 class="list-group-item-heading">CHI BALANCE</h4>
														</div>
														<div class="list-group-item">
															<div class="list-group">
																<div th:replace="components :: dotted-value-single(skillName='yinChi', maxValue=10, currValue=4, displayName='chi.yin')"></div>
																<div th:replace="components :: dotted-value-single(skillName='yangChi', maxValue=10, currValue=2, displayName='chi.yang')"></div>
															</div>
														</div>
														<div class="list-group-item active">
															<h4 class="list-group-item-heading">WILL BALANCE</h4>
														</div>
														<div class="list-group-item">
															<div class="list-group">
																<div th:replace="components :: dotted-value-single(skillName='willpower', maxValue=10, currValue=7, displayName='soul.willpower')"></div>
																<div th:replace="components :: dotted-value-single(skillName='dharmaScore', maxValue=10, currValue=2, displayName=*{dharma.name})"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="p1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 th:text="Abilities">ABILITIES</h4>
								</div>
								<div class="panel-body">
									<div class="panel-group" id="abilities" role="tablist">
										<div class="panel panel-default">
											<div class="panel-heading" id="talentsHeading" role="tab">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#abilities" href="#talents">TALENTS</a>
												</h4>
											</div>
											<div class="panel-collapse collapse in" id="talents" role="tabpanel">
												<div class="panel-body">
													<div class="form-inline">
														<div class="form-group">
															<select id="talentSelector" class="form-control">
																<option th:each="talent : ${T(de.lhug.entities.enums.Talents).values()}" th:value="${talent.name()}" th:text="#{__${talent.messageKey}__('')}">NAME</option>
															</select>
														</div>
														<div class="form-group pull-right">
															<label for="addTalent">ADD TALENT</label>
															<button type="button" class="btn btn-default btn-sm addItem" id="addTalent">
																<span class="fa fa-plus-circle"></span>
															</button>
														</div>
													</div>
													<div class="list-group">
														<div th:replace="components :: dotted-value(skill=*{abilities.athletics}, skillName='abilities.athletics', maxValue=5, currValue=2, displayName='talents.athletics', character=${character})"></div>
														<div th:replace="components :: dotted-value(skill=*{abilities.dodge}, skillName='abilities.dodge', maxValue=5, currValue=4, displayName='talents.dodge')"></div>
														<div th:replace="components :: dotted-value(skill=*{abilities.leadership}, skillName='abilities.leadership', maxValue=5, currValue=2, displayName='talents.leadership')"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" id="skillsHeading" role="tab">
												<h4 class="panel-title">
													<a role="button" class="collapsed" data-toggle="collapse" data-parent="#abilities" href="#skills">SKILLS</a>
												</h4>
											</div>
											<div class="panel-collapse collapse" id="skills" role="tabpanel">
												<div class="panel-body">
													<div class="form-inline">
														<div class="form-group">
															<select id="skillSelector" class="form-control">
																<option th:each="skill : ${T(de.lhug.entities.enums.Skills).values()}" th:value="${skill.name()}" th:text="#{__${skill.messageKey}__('')}">NAME</option>
															</select>
														</div>
														<div class="form-group pull-right">
															<label for="addSkill">ADD SKILL</label>
															<button type="button" class="btn btn-default btn-sm addItem" id="addSkill">
																<span class="fa fa-plus-circle"></span>
															</button>
														</div>
													</div>
													<div class="list-group">
														<div th:replace="components :: dotted-value(skill=*{abilities.crafts}, skillName='abilities.crafts', maxValue=5, currValue=4, displayName='skills.crafts')"></div>
														<div th:replace="components :: dotted-value(skill=*{abilities.martialArts}, skillName='abilities.martialArts', maxValue=5, currValue=5, displayName='skills.martialArts')"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" id="knowledgesHeading" role="tab">
												<h4 class="panel-title">
													<a role="button" class="collapsed" data-toggle="collapse" data-parent="#abilities" href="#knowledges">KNOWLEDGES</a>
												</h4>
											</div>
											<div class="panel-collapse collapse" id="knowledges" role="tabpanel">
												<div class="panel-body">
													<div class="form-inline">
														<div class="form-group">
															<select id="knowledgesSelector" class="form-control">
																<option th:each="knowledge : ${T(de.lhug.entities.enums.Knowledges).values()}" th:value="${knowledge.name()}" th:text="#{__${knowledge.messageKey}__('')}">NAME</option>
															</select>
														</div>
														<div class="form-group pull-right">
															<label for="addKnowledge">ADD KNOWLEDGE</label>
															<button type="button" class="btn btn-default btn-sm addItem" id="addKnowledge">
																<span class="fa fa-plus-circle"></span>
															</button>
														</div>
													</div>
													<div class="list-group">
														<div th:replace="components :: dotted-value(skill=*{abilities.enigmas}, skillName='abilities.enigmas', maxValue=5, currValue=5, displayName='knowledges.enigmas')"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="p2">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Secondary Character Infos</h4>
								</div>
								<div class="panel-group" role="tablist" id="otherTraits">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="meritsHeading">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#otherTraits" href="#meritsCollapse" aria-expanded="true" aria-controls="collapseOne"> Merits </a>
											</h4>
										</div>
										<div class="panel-collapse collapse in" role="tabpanel" id="meritsCollapse">
											<div class="panel-body">
												<div class="form-inline">
													<div class="form-group">
														<input id="merit" class="form-control" /> <input id="meritValue" type="number" min="1" max="5" class="form-control" />
													</div>
													<div class="form-group pull-right">
														<label for="addMerit" th:text="#{charsheet.add.merit}">ADD MERIT</label>
														<button type="button" class="btn btn-default btn-sm addItem" id="addMerit">
															<span class="fa fa-plus-circle"></span>
														</button>
													</div>
												</div>
												<div class="list-group">
													<div class="list-group-item">
														<span>Resources</span><span class="pull-right">3</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="flawsHeading">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#otherTraits" href="#flawsCollapse"> Flaws </a>
											</h4>
										</div>
										<div class="panel-collapse collapse" role="tabpanel" id="flawsCollapse">
											<div class="panel-body">
												<div class="form-inline">
													<div class="form-group">
														<input id="flaw" class="form-control" /> <input id="flawValue" class="form-control" type="number" min="1" max="5" />
													</div>
													<div class="form-group pull-right">
														<label for="addFlaw" th:text="#{charsheet.add.flaw}">ADD FLAW</label>
														<button type="button" class="btn btn-default btn-sm addItem" id="addFlaw">
															<span class="fa fa-plus-circle"></span>
														</button>
													</div>
												</div>
												<div class="list-group">
													<div class="list-group-item">
														<span>Superstitious</span><span class="pull-right">5</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="secondaryHeading">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#otherTraits" href="#secondaryCollapse"> Secondary Skills </a>
											</h4>
										</div>
										<div class="panel-collapse collapse" role="tabpanel" id="secondaryCollapse">
											<div class="form-inline">
												<div class="form-group">
													<input id="secSkill" class="form-control" />
												</div>
												<div class="form-group pull-right">
													<label for="addSecSkill">Add Skill</label>
													<button type="button" class="btn btn-default btn-sm addItem" id="addSecSkill">
														<span class="fa fa-plus-circle"></span>
													</button>
												</div>
											</div>
											<div class="list-group"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-default" th:text="#{charSheet.save}">SAVE</button>
				</form>
			</div>
		</div>
	</section>
</body>
</html>