<html xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="/layout">
<head>
	<script type="text/javascript" th:src="@{/js/characters.js}" src="../static/js/characters.js"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1 th:text="#{backgrounds.characters.heading}">CHARACTERS</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><span>Character Name</span></th>
							<th><span>Chronicle</span></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="char : ${characters}">
							<td><span th:text="${char.name}">NAME</span></td>
							<td><span th:text="${char.chronicle}">CHRONICLE</span></td>
							<td><button class="btn btn-sm btn-charsheet" type="button"
									th:text="#{backgrounds.characters.button.show}"
									th:data="@{characters/{chronicle}/{name}(chronicle=${char.chronicle}, name=${char.name})}">Show</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>