<html xmlns:layout="https://ultraq.github.io/thymeleaf-layout-dialect"
xmlns:th="http://www.thymeleaf.org"
layout:decorator="/layout">
<body>
<section layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>MORTAL NEWS</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>TITLE</h4>
				</div>
				<div class="panel-content">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>TITLE</h4>
				</div>
				<div class="panel-content">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>TITLE</h4>
				</div>
				<div class="panel-content">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>TITLE</h4>
				</div>
				<div class="panel-content">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>